body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;

}

#changelog {
	margin:auto;
	margin-top:20px;
	padding:10px;	
}

#changelog-headline {
	margin-left: 20px;
}

#change-list {
	margin-left: 30px;
	max-width: 800px;
}

#metadata-section {
	visibility: visible;
	margin-left: 20px;
}

#metadata {
	margin-left: 30px;
}

#metadata-details-header {

}

.change-item {

}

.change-title {
	font-size: 1.1em;
	font-weight: 700;
}

.release-note {
	font-size: 0.95em;
	padding: 10px;
}

a.task-link {
	display: inline;
}

.issue-type {
	float: left;
	width: 20px;
	margin-right: 5px;
}

.issue-type-Feature {
	background-color: #3366ff;
}

.issue-type-Bug {
	background-color: #990000;
}

.issue-type-Inquiry {
	background-color: #009933;
}   