<html>
	<head>
		<style>
			* {
				background-color: grey;
				color:white;
				font-family: 'Courier new';
			}

			h1 {
				font-family: verdana;
			}

			h3, h4, h5 {
				color: #ff9900;
			}

			ul {
				list-style: none;
			}
		</style>
		<title>PAC Changelog</title>
	</head>
	<body>
		<h1>PAC Changelog</h1>
		<h3>Referenced tasks</h3>
		{{range referencedTasks .tasks}}
			<h5>{{.TaskID}}</h5>
			<ul>
			{{range .Commits}}
				<li> {{.ShortSHA}}:{{.Header}}</li>
			{{end}}				
			</ul>
		{{end}}
		<h3>Unreferenced commits</h3>
		<ul>
			{{range unreferencedCommits .tasks}}
			<li>{{.ShortSHA}}:{{.Header}}</li>
			{{end}}			
		</ul>
	</body>
</html>