<html>
	<head>
		<title>PAC Changelog</title>
	</head>
	<body>
		<h1>PAC Changelog</h1>
		<h3>Referenced tasks</h3>
		{% for task in tasks.referenced %}
			<h5><a href="{{task.attributes.data.html_url}}">{{task.task_id}}: {{task.attributes.data.title}}</a></h5>
			<dl>
				<dt>State:</dt><dd>{{task.attributes.data.state}}</dd>
			</dl>
			<ul>
			{% for commit in task.commits %}
				<li> {{commit.shortsha}}:{{commit.header}}</li>
			{% endfor %}				
			</ul>
		{% endfor %}
		<h3>Unreferenced commits</h3>
		<ul>
			{% for commit in tasks.unreferenced %}
			<li>{{commit.shortsha}}:{{commit.header}}</li>
			{% endfor %}			
		</ul>
	</body>
</html>