<html>
	<head>
		<style>
			* {
				background-color: black;
				color:white;
				font-family: 'Courier new';
			}

			h1 {
				font-family: verdana;
			}

			h3, h4, h5 {
				color: #ff9900;
			}

			ul {
				list-style: none;
			}

			a {
				text-decoration: none;
			}
		</style>
		<title>PAC Changelog</title>
	</head>
	<body>
		<h1>PAC Changelog</h1>
		<h3>Referenced tasks</h3>
		{% for task in tasks.referenced %}
			<h5><a href="{{task.attributes.data.html_url}}">{{task.task_id}}</a> ({{task.attributes.data.state}})</h5>
			<h5>{{task.attributes.data.user.login}}</h5>
			<ul>
			{% for commit in task.commits %}
				<li> {{commit.shortsha}}:{{commit.header}}</li>
			{% endfor %}				
			</ul>
		{% endfor %}
		<h3>Unreferenced commits</h3>
		<ul>
			{% for commit in tasks.unreferenced_commits %}
			<li>{{commit.shortsha}}:{{commit.header}}</li>
			{% endfor %}			
		</ul>
		<h3>Statistics</h3
		<p>Number of commits: {{pac_c_count}}</p>
		<p>Number of commits without a task reference: {{pac_c_unreferenced}}</p>
		<p>Number of commits with a task reference: {{pac_c_referenced}}</p>
		<p>Percentage of commits with task reference: {{pac_health}}</p>
	</body>
</html>